services:
  app:
    build: .
    container_name: paid_leave_app
    volumes:
      - .:/var/www
      - vendor:/var/www/vendor
    ports:
      - "8000:8000"
    depends_on:
      - db

  db:
    image: postgres:15
    container_name: paid_leave_db
    environment:
      POSTGRES_DB: paid_leave
      POSTGRES_USER: app_user
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
  vendor: